body{
    font-family:Arial;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  
  .app{
    background:#1e293b;
    padding:30px;
    border-radius:12px;
    width:320px;
    text-align:center;
  }
  
  input, select, button{
    padding:10px;
    margin:10px;
    border-radius:8px;
    border:none;
  }
  
  .row{
    display:flex;
    justify-content:center;
    align-items:center;
  }